In [3]:
print("Ciao")

Ciao

In [7]:
x = 12
word = "Help" "a"
print(word)

Helpa

In [12]:
x=1.786
y=str(x)
z=float(y)
print(z)

1.786

In [13]:
print("This is a \n carriage return \n")

This is a
 carriage return

In [14]:
a=input("Inserisci un nome: ")
print(a)

Inserisci un nome:Antonio
Antonio

In [25]:
x=input("Insert a number: ")
y=pow(float(x),2)-1
print("y=x^2-1 with x=" + str(x) + " is " + str(y))

Insert a number: 2
y=x^2-1 with x=2 is 3.0

In [28]:
list = [1,2,3,4,5,"pippo"]
for i in list:
    print(i)

1
2
3
4
5
pippo

In [32]:
a=int(input("Please insert an integer number: "))
if pow(a,2) > 20:
    print(str(a) + "^2 is greater than 20")
elif pow(a,2) < 20:
    print(str(a) + "^2 is lesser than 20")
else:
    print("Something went wrong")

Please insert an integer number: 45
45^2 is greater than 20

In [34]:
x = 0
while x < 20:
    print("Valore non adeguato")
    x+=1

Valore non adeguato
Valore non adeguato
Valore non adeguato
Valore non adeguato
Valore non adeguato
Valore non adeguato
Valore non adeguato
Valore non adeguato
Valore non adeguato
Valore non adeguato
Valore non adeguato
Valore non adeguato
Valore non adeguato
Valore non adeguato
Valore non adeguato
Valore non adeguato
Valore non adeguato
Valore non adeguato
Valore non adeguato
Valore non adeguato

In [39]:
import pandas as pd
a = pd.read_csv("C:\\Users\\admin\\Downloads\\drive-download-20220912T105020Z-001\\ordini.csv")

In [40]:
a

,Unnamed: 0,OrderId,AccountId,OrderStatus,effectivate_date,store_id,totale_ordine
0,0,8011i000001vYiWAAU,0011i00000GVD8aAAH,Closed,2019-05-20,PDV30,0.00
1,1,8011i000001vYiXAAU,0011i00000GVD8aAAH,Closed,2018-01-02,PDV20,90.30
2,2,8011i000001vYiYAAU,0011i00000GVD8aAAH,Closed,2018-05-28,PDV50,20.00
3,3,8011i000001vYiZAAU,0011i00000GVD8aAAH,Closed,2018-04-03,PDV30,462.51
4,4,8011i000001vYiaAAE,0011i00000GVD8aAAH,Closed,2019-02-12,PDV30,34.30
...,...,...,...,...,...,...,...
378292,378292,8011i000009G2iIAAS,0011i00000GUvy6AAD,Closed,2021-03-09,PDV60,116.91
378293,378293,8011i000009G2iJAAS,0011i00000oT31qAAC,Closed,2021-03-09,PDV30,39.60
378294,378294,8011i000009G2liAAC,0011i00000vdH1kAAE,Closed,2021-03-10,PDV80,119.96
378295,378295,8011i000009G2ljAAC,0011i00000vdGvxAAE,Closed,2021-03-10,PDV10,214.45
378296,378296,8011i000009G2lkAAC,0011i00000QhTZ4AAN,Closed,2021-03-10,PDV30,61.04

In [41]:
b = pd.read_csv("C:\\Users\\admin\\Downloads\\drive-download-20220912T105020Z-001\\order_item.csv")

In [42]:
b

,Unnamed: 0,OrderId,Order_Items_id,Product_Id,Quantity,TotalPrice,Discount
0,0,8011i000001wHmEAAU,8021i000002BeisAAC,01t1i000000m6JCAAY,1.0,90.30,0.30
1,1,8011i000001wHmEAAU,8021i000002BeitAAC,01t1i000000m8DnAAI,1.0,63.20,0.20
2,2,8011i000001weDnAAI,8021i000002BeiuAAC,01t1i000000m79SAAQ,1.0,181.30,0.30
3,3,8011i000001vnKOAAY,8021i000002BeivAAC,01t1i000000m8E7AAI,1.0,71.20,0.20
4,4,8011i000001vnKOAAY,8021i000002BeiwAAC,01t1i000000m8mAAAQ,1.0,35.91,0.10
...,...,...,...,...,...,...,...
1651306,1651306,8017U000000L9AEQA0,8027U000000H33yQAC,01t1i000002kQXiAAM,1.0,90.00,0.50
1651307,1651307,8017U000000L9AEQA0,8027U000000H33zQAC,01t1i000002kTM4AAM,1.0,162.00,0.10
1651308,1651308,8017U000000L9AFQA0,8027U000000H340QAC,01t1i000002kPp5AAE,1.0,82.50,0.50
1651309,1651309,8017U000000L9AGQA0,8027U000000H341QAC,01t1i000002kQlYAAU,1.0,57.45,0.50
1651310,1651310,8017U000000L9AHQA0,8027U000000H342QAC,01t1i000000m7n1AAA,1.0,34.65,0.65

In [43]:
c = a.merge(b,left_on="OrderId",right_on="OrderId")

In [44]:
c

,Unnamed: 0_x,OrderId,AccountId,OrderStatus,effectivate_date,store_id,totale_ordine,Unnamed: 0_y,Order_Items_id,Product_Id,Quantity,TotalPrice,Discount
0,0,8011i000001vYiWAAU,0011i00000GVD8aAAH,Closed,2019-05-20,PDV30,0.00,336458,8021i000002Mn2QAAS,01t1i000000mMxQAAU,-1.0,-100.00,0.0
1,0,8011i000001vYiWAAU,0011i00000GVD8aAAH,Closed,2019-05-20,PDV30,0.00,650069,8021i000002DjKhAAK,01t1i000000mEWBAA2,1.0,7.90,0.0
2,0,8011i000001vYiWAAU,0011i00000GVD8aAAH,Closed,2019-05-20,PDV30,0.00,650070,8021i000002DjKiAAK,01t1i000000mF2nAAE,1.0,32.31,0.1
3,0,8011i000001vYiWAAU,0011i00000GVD8aAAH,Closed,2019-05-20,PDV30,0.00,650072,8021i000002DjKjAAK,01t1i000000mAKSAA2,1.0,23.20,0.2
4,0,8011i000001vYiWAAU,0011i00000GVD8aAAH,Closed,2019-05-20,PDV30,0.00,650074,8021i000002DjKkAAK,01t1i000000mMxOAAU,1.0,1.49,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
792114,378294,8011i000009G2liAAC,0011i00000vdH1kAAE,Closed,2021-03-10,PDV80,119.96,1198475,8021i000005j9ehAAA,01t1i000000mGthAAE,1.0,119.96,0.6
792115,378295,8011i000009G2ljAAC,0011i00000vdGvxAAE,Closed,2021-03-10,PDV10,214.45,1198476,8021i000005j9eiAAA,01t1i000000n5KIAAY,1.0,89.95,0.5
792116,378295,8011i000009G2ljAAC,0011i00000vdGvxAAE,Closed,2021-03-10,PDV10,214.45,1198477,8021i000005j9ejAAA,01t1i000000n5isAAA,1.0,124.50,0.5
792117,378296,8011i000009G2lkAAC,0011i00000QhTZ4AAN,Closed,2021-03-10,PDV30,61.04,1198478,8021i000005j9ekAAA,01t1i000000msNKAAY,1.0,25.13,0.3
792118,378296,8011i000009G2lkAAC,0011i00000QhTZ4AAN,Closed,2021-03-10,PDV30,61.04,1198479,8021i000005j9elAAA,01t1i000000nHMkAAM,1.0,35.91,0.1